.wrapper {
  font-family: sans-serif;
  color: hsl(0 0 100);
}

.wrapper .title {
  font-size: 4rem;
  font-weight: 600;
}

.wrapper .subtitle {
  font-size: 10rem;
}

.countdown__subtitle {
  font-size: 3rem;
}